/* fixes */
    html {
        height: 100%;
    }
    body {
        position: relative;
        color: #000;
    }
    input,
    select {
        cursor: pointer;
    }
    #fancybox-wrap {
        width: auto !important;
    }
    .ui-datepicker {
        font-size: 14px;
    }
    .ui_tpicker_hour_slider,
    .ui_tpicker_minute_slider {
        top: 4px;
    }
    .ui-slider-handle {
        cursor: pointer !important;
    }
    #footer p:last-child {
        margin: 0;
    }
    #content .panel {
        padding-bottom: 20px;
    }
    .form-group .checkbox .control-label {
        text-align: left;
        width: 100%;
    }
    .dropdown-header {
        padding-left: 10px;
        color: #999;
    }
    a.btn {
        text-decoration: none !important;
    }
    div[role="tablist"] .panel {
        padding-bottom: 0 !important;
    }
    div[role="tablist"] .panel-heading a {
        text-decoration: none !important;
    }
    div[role="tablist"] .panel+.panel {
        margin-top: 0;
    }
    .btn-lg .glyphicon {
        font-size: 16px;
        left: -1px;
    }
    table.table tr.selected td, table.table tr.selected:hover td {
        background: none repeat scroll 0 0 #ECF794;
    }
    /*.form-horizontal .control-label {
        width: 100%;
    }*/
    #ui-datepicker-div {
        z-index: 5000 !important;
    }
    .ui-menu .ui-menu-item a {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .form-inline .form-group,
    .form-inline .btn {
        vertical-align: top;
    }
/**/

/* universal */
/* text */
    .text-bold {
        font-weight: bold;
    }
/**/
/* form elements */
    .mini_input {
        display: inline-block;
        width: 100px;
        margin: 0 3px;
    }
    .group_list .radio {
        float: left;
        margin-right: 25px;
    }
/**/
/* special */
    .ml4 {
        margin-left: 4px !important;
    }
    .ml20 {
        margin-left: 20px !important;
    }
    .ml25 {
        margin-left: 25px !important;
    }
    .fs14 {
        font-size: 14px !important;
    }
    .fs16 {
        font-size: 16px !important;
    }
    .fs18 {
        font-size: 18px !important;
    }
    .w16p {
        width: 16% !important;
    }
    .w40p {
        width: 40% !important;
    }
    .w17 {
        width: 17px !important;
    }
    .w60 {
        width: 60px !important;
    }
    .w180 {
        width: 180px !important;
    }
    .w220 {
        width: 220px !important;
    }
    .w230 {
        width: 230px !important;
    }
    .w282 {
        width: 282px !important;
    }
    .w300 {
        width: 300px !important;
    }
    .w310 {
        width: 310px !important;
    }
    .w320 {
        width: 320px !important;
    }
    .w330 {
        width: 330px !important;
    }
    .w540 {
        width: 540px !important;
    }
    .mb16 {
        margin-bottom: 16px !important;
    }
    .mb20 {
        margin-bottom: 20px !important;
    }
    .mt4 {
        margin-top: 4px !important
    }
    .mt5 {
        margin-top: 5px !important
    }
    .mt9 {
        margin-top: 9px !important;
    }
    .mr20 {
        margin-right: 20px !important;
    }
    .mr30 {
        margin-right: 30px !important;
    }
    .ml30 {
        margin-left: 30px !important;
    }
    .lh34 {
        line-height: 34px !important;
    }
    .h22 {
        height: 22px !important;
    }
    .h25 {
        height: 25px !important;
    }
    .h34 {
        height: 34px !important;
    }
/**/
/* dl */
    .dl-horizontal.dl-horizontal-lg dt {
        width: 280px;
    }
    .dl-horizontal.dl-horizontal-lg dd {
        margin-left: 300px;
    }
/**/
/* alerts */
    /*.alert-danger {
        border-color: #a94442;
    }
    .alert-success {
        border-color: #468847;
    }
    .alert-warning {
        border-color: #8a6d3b;
    }*/
/**/
/* badgets */
.badge-danger {
    background-color: #d9534f !important;
}
.badge-warning {
    background-color: #f0ad4e !important;
}
.badge-primary {
    background-color: #428bca;
}
.badge-success {
    background-color: #5cb85c;
}
/**/
/* bgs */
.bg_white {
    padding: 2px;
    color: #000;
    background-color: #fff;
}
.bg_success {
    padding: 2px;
    color: #000;
    background-color: #dff0d8;
}
.bg_danger {
    padding: 2px;
    color: #000;
    background-color: #f2dede;
}
/**/
/* buttons */
.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    color: #ffffff;
    background-color: #222222;
}
/**/
.block {
    display: block;
}
.inline {
    display: inline-block;
}
.clear {
    clear: both;
}
.grid-view .summary {
    margin-left: 20px;
}
.panel-heading a {
    text-decoration: underline;
}
.panel a:hover {
    text-decoration: none;
}
a.close,
a.btn {
    text-decoration: none;
}
.tooltip {
    font-size: 14px;
}
.panelButtons {
    margin-bottom: 10px;
}
.panelButtons > * {
    //margin-left: 20px;
}
.icon_image {
    font-size: 24px;
    top: 12px;
    line-height: 0;
    display: block;
    width: 24px;
    height: 24px;
}
.panel {
    position: relative;
}
.buttons_for_panel {
    position: absolute;
    top: 3px;
    right: 3px;
}
span.null {
    color: #777;
    font-style: italic;
}
.bg-btn-primary {
    color: #fff;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}
.bg-btn-primary.btn-primary-disabled {
    background-color: #265a88;
    background-image: none;
    border-color: #2e6da4;
    opacity: .65;
}
.nowrap {
    white-space: nowrap;
}
.ellipsis {
    text-overflow: ellipsis;
}
.text-middle {
    vertical-align: middle !important;
}
.inlineBlock {
    display: inline-block !important;
    width: auto;
}
#content {
    position: relative;
}
.myActions {
    text-align: center;
    width: 126px;
}
.container {
    position: relative;
}
.well.unwell {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.underline {
    text-decoration: underline !important;
}
.underline:hover {
    text-decoration: none !important;
}
.underline2 {
    text-decoration: underline !important;
}
/**/
.withTabs {
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background: #fff !important;
}
.withTabs .form-actions {
    margin-right: -19px;
    margin-left: -19px;
    margin-bottom: 16px;
}
.form-actions {
    /*padding: 19px 20px 20px;*/
    padding: 20px 0;
    /*margin-top: 20px;
    margin-bottom: 20px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    /*padding-left: 189px;*/
    margin-bottom: 0;
    position: relative;
    top: 35px;
    border-radius: 0 0 4px 4px;
}
table.va {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
table.va td {
    width: 100%;
    height: 100%;
    //text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
table.ta td {
    text-align: center;
}
.table-middle td,
.table-middle th {
    vertical-align: middle !important;
}
.grid-view .preview {
    max-width: 200px;
}
.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 17%;
}
.detail-view th {
    text-align: right;
    width: 25%;
}
._inner_button_mb15 button,
._inner_button_mb15 input[type="button"],
._inner_button_mb15 .btn {
    margin-bottom: 15px;
}
.table-striped>tbody>tr:nth-child(even) {
    background: #fff;
}
.fw_normal {
    font-weight: normal !important;
}
.mfTitle {
    font-size: 13px;
    color: #666;
    margin-left: 10px;
}
.input-group textarea+.input-group-btn .btn {
    height: calc(100% + 14px);
}
/* inline-form */
.form-inline .form-group {
    position: relative;
}
.form-inline label {
    font-weight: normal;
    font-size: 13px;
    color: #333;
    /* margin-left: 10px; */
    /* margin-bottom: 2px; */
    position: absolute;
    top: -18px;
    left: 10px;
}
.form-inline.withLabels .form-group {
    margin-top: 10px;
}
/**/

/* jquery autocomplite to bootstrap */
/*.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
 
    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}*/
/**/
.editable {
    cursor: pointer;
}
.editable-empty {
    color: #777;
}
.text-muted {
    color: #777 !important;
}
.colorBlock {
    display: inline-block;
    height: 10px;
    width: 34px;
}
.vam {
    vertical-align: middle !important;
}
.label_noCol label {
    width: auto !important;
}
span.divider {
    margin: 6px;
}
.text-free {
    color: #2A9640;
}
.fl {
    float: left;
}
