.select {
	position: absolute;
	width: 199px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 24px;
	/*padding: 0 24px 0 8px;*/
	/*color: #fff;*/
	/*font: 12px/21px arial,sans-serif;*/
	background: url(/img/select_form.jpg) no-repeat;
	overflow: hidden;
    color: #111015;
    font-family: "Ubuntu";
    font-size: 15px;
    font-weight: 400;
    /*border: none;*/
    padding-left: 2px;
    padding-top: 4px;
    /*margin-top: 45px;*/
}
