@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.otf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.otf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.otf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Black';
    src: url('../fonts/HelveticaNeueCyr-Black.otf');
}
@font-face {
    font-family: 'Helveticaneuecyr-light';
    src: url('../fonts/helveticaneuecyr-light.otf'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('../fonts/Ubuntu Condensed.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Univers Condensed';
    src: url('../fonts/Univers Condensed.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'Arctika Script';
    src: url('../fonts/Arctika Script.ttf'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: 'a_AlternaNr';
    src: url('../fonts/a_AlternaNr.ttf'); /* Путь к файлу со шрифтом */
}

.mt-20{
    margin-top: 20px;
}
a:hover{
    outline: none;
}
a{
    outline: none;
}
a:focus{
    outline: none;
}
select:focus{
    outline: none;
}
#yakor{
    position: relative;;
    top: -50px;
}

body{
    font-size: 18px;
    overflow: auto!important;
    min-width: 1300px;
}
.w22{
    width: 22%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.line{
    position: relative;
    clear: both;
    display: table;
}
.container{
    position: relative;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 0 10px;
}
#main_content{
    width: 100%;
    min-width: 960px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: url('/img/main_bgr.jpg') repeat;;
}
.header{
    width: 100%;
    height: 77px;
    background: url('/img/header_bgr.png') repeat;
    position: relative;
}
.logo{
    background: url('/img/logo.png') center no-repeat;
    width: 309px;
    height: 77px;
    float: left;
    margin-left: 30px;
    display: block;
    text-decoration: none;
}
.logo_text{
    color: #FFF;
    font-family: "Ubuntu Condensed";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 16px 0 0 165px;
    line-height: 20px;
}
.city_social{
    height: 77px;
    margin-left: 30px;
    float: left;
}
.vk{
    background: url('/img/vk.png') center no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    margin: 7px 10px 0px 0;
}
.f{
    background: url('/img/f.png') center no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    margin: 7px 10px 0px 0;
}
.inst{
    background: url('/img/inst.png') center no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    margin: 7px 10px 0px 0;
}
.phone_box{
    width: 200px;
    height: 77px;
    float: right;
    position: relative;
    margin: 10px 5px 0 0;
}
.phone{
    color: #000;
    font-family: "a_AlternaNr";
    font-size: 31.75px;
    font-weight: 400;
    margin-bottom: 3px;
    /* text-align: right; */
    float: right;
    display: inline-block;
}
.under_phone{
    color: #FFF;
    font-family: "Arctika script";
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    bottom: 18px;
    right: 0;

}
a.under_phone{
    text-decoration: none;
}
.city_selector select{
    /*top: -4px;*/
    /*position: relative;*/
    width: 199px;
    height: 24px;
    /*background-color: #D1C598;*/
    color: #111015;
    font-family: "Ubuntu";
    font-size: 15px;
    font-weight: 400;
    /*border: none;*/
    padding-left: 2px;
    /*margin-top: 10px;*/
    /*-o-appearance: none;*/
}
.under_header{
    min-height: 709px;
}
#ak{
    width: 379px;
    height: 297px;
    position: absolute;
    left: -191px;
    top:76px;
    background: url('/img/ak.png') center no-repeat;
}
#brains{
    width: 187px;
    height: 129px;
    position: absolute;
    right: -12px;
    top: 15px;
    background: url('/img/brains.png') center no-repeat;
}
#farsh_not_die{
    right: 192px;
    top: 286px;
    position: absolute;
    width: 281px;
    height: 88px;
    background: url('/img/farsh_not_die.png') center no-repeat;
}
#myasorubka{
    width: 1679px;
    height: 443px;
    position: absolute;
    right: -337px;
    top: 253px;
    z-index: 4;
    background: url('/img/myasorubka.png') center no-repeat;
}
#amazing_text{
    width: 364px;
    height: 154px;
    position: absolute;
    right: 374px;
    top: 98px;
    z-index: 3;
    opacity: 1!important;
    background: url('/img/amazing_text.png') center no-repeat;
}
#ru4ka{
    width: 310px;
    height: 494px;
    position: absolute;
    right: 412px;
    top: 149px;
    z-index: 2;
    background: url('/img/ru4ka.png') center no-repeat;
}

#ellips{
    width: 484px;
    height: 484px;
    position: absolute;
    right: 309px;
    top: 139px;
    z-index: 1;
    background: url('/img/ellips.png') center no-repeat;
}
#rotate{
    width: 272px;
    height: 106px;
    position: absolute;
    right: 358px;
    top: 32px;
    background: url('/img/rotate.png') center no-repeat;
}
#sold{
    width: 183px;
    height: 196px;
    position: absolute;
    right: 138px;
    top: 18px;
    background: url('/img/sold.png') center no-repeat;
}
#button_sold{
    width: 239px;
    height: 68px;
    background: url('/img/button_sold.png') 0 0;
    position: absolute;
    right: 104px;
    top: 214px;
}
#button_sold:hover{
    background-position: 0 -69px;
}
#button_sold:active{
    background-position: 0 -138px;
    height: 67px;
}
#tarelka_1{
    width: 173px;
    height: 71px;
    position: absolute;
    left: 26px;
    top: 452px;
    z-index: 5;
    background: url('/img/tarelko.png') center no-repeat;
}
#shape_1{
    display: none;
    width: 185px;
    height: 95px;
    position: absolute;
    left: 21px;
    top: 413px;
    z-index: 5;
    background: url('/img/shape_1.png') center no-repeat;
}

#tarelka_2{
    width: 173px;
    height: 71px;;
    position: absolute;
    left: 216px;
    top: 489px;
    z-index: 5;
    background: url('/img/tarelko.png') center no-repeat;
}
#shape_2{
    display: none;
    width: 184px;
    height: 101px;
    position: absolute;
    left: 202px;
    top: 443px;
    z-index: 5;
    background: url('/img/shape_2.png') center no-repeat;
}
#tarelka_3{
    width: 173px;
    height: 71px;
    position: absolute;
    left: 404px;
    top: 485px;
    z-index: 5;
    background: url('/img/tarelko.png') center no-repeat;
}
#shape_3{
    display: none;
    width: 177px;
    height: 110px;
    position: absolute;
    left: 402px;
    top: 433px;
    z-index: 5;
    background: url('/img/shape_3.png') center no-repeat;
}
#tarelka_4{
    width: 173px;
    height: 71px;
    position: absolute;
    left: 591px;
    top: 451px;
    z-index: 5;
    background: url('/img/tarelko.png') center no-repeat;
}
#shape_4{
    display: none;
    width: 175px;
    height: 124px;
    position: absolute;
    left: 584px;
    top: 386px;
    z-index: 5;
    background: url('/img/shape_4.png') center no-repeat;
}
#tarelka_5{
    width: 173px;
    height: 71px;
    position: absolute;
    left: 782px;
    top: 469px;
    z-index: 5;
    background: url('/img/tarelko.png') center no-repeat;
}
#shape_5{
    display: none;
    width: 172px;
    height: 155px;
    position: absolute;
    left: 781px;
    top: 369px;
    z-index: 5;
    background: url('/img/shape_5.png') center no-repeat;
}
a.base{
    background: url('/img/base.png') 0 -66px;
    width: 185px;
    height: 43px;
    display: block;
    position: absolute;
    text-align: center;
    padding-top: 19px;
    color: #000;
    font-family: "a_AlternaNr";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 6;
    text-decoration: none;
}
a.base:hover{
    background-position: 0 -1px;
    color: #B93409;
    text-decoration: none;
}
.link_1{
    top: 547px;
    left: 22px;
}
.link_2{
    top: 547px;
    left: 211px;
}
.link_3{
    top: 547px;
    left: 398px;
}
.link_4{
    top: 547px;
    left: 586px;
}
.link_5{
    top: 547px;
    left: 774px;
}

#this_is{
    height: 364px;
}
#border_this_is{
    background: url('/img/border_this_is.png') center no-repeat;
    width: 939px;
    margin-top: 28px;
    margin-left: 12px;
    height: 277px;
    position: absolute;
}
#this_is_box_text{
    margin: 0 auto;
    display: inherit;
    position: relative;
    left: -2px;
    height: 56px;
    text-align: center;
}
#meat{
    position: relative;
    margin: 0 auto;
    height: 56px;
    width: 182px;
    background: #000000;
    float: left;
    font-family: "a_AlternaNr";
    font-size: 57px;
    font-weight: 400;
    color: #FFF;
}
#it{
    position: relative;
    margin: 0 auto;
    float: left;
    font-family: "a_AlternaNr";
    font-size: 56.69px;
    font-weight: 400;
    color: #B93409;
    right: -7px;
    top: 2px;
}
.this_base_box{
    width: 860px;
    margin: 30px 0 0 40px;
}
.this_base{
    width: 215px;
    float: left;
    text-align: center;
}
.this_base_title{
    color: #B93409;
    font-family: "Arctika script";
    font-size: 35px;
    font-weight: 400;
}
.this_base_description{
    color: #000;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
}
#menu_bgr{
    position: relative;
    margin: 0 auto;
    padding: 40px;
    width: 859px;
    height: 3072px;
    background-color: #FFF;
    -moz-box-shadow: 0.4px 0.9px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0.4px 0.9px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0.4px 0.9px 4px rgba(0, 0, 0, 0.35);
}
#menu_head{
width: 100%;
    height: 11px;
    margin-top: 40px;
    margin-bottom: -20px;
    position: relative;
    display: inline-block;
}
#menu_head_line{
    width: 100%;
    height: 4px;
    background-color: #000;
}
#menu_head_menu{
    color: #000;
    font-family: "Arctika script";
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    background: #fff;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: -27px;
    width: 146px;
}
.menu_box{
    display: inline-block;
    margin-top: 60px;
}
.menu_box_title{
    color: #000;
    font-family: "Ubuntu";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    float: left;
    margin: -5px 0 0 -2px;
    min-width: 300px;
}
.menu_box_title span{
    font-size: 23px;
}
.menu_box img{
    float: left;
    margin: 0 21px 19px 0;
}
.button_order{
    width: 199px;
    height: 51px;
    background: url('/img/button_order.png') 0 0;
    display: inline-block;
    position: relative;
    margin: 26px 0 0 0;
}
.button_order:hover{
    background-position: 0 -69px;
}
.button_order:active{
    background-position: 0px -138px;
    height: 51px;
}
.sostav{
    width: 78px;
    height: 25px;
    background-color: #000;
    color: #FFF;
    font-family: "Univers Condensed";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: table;
    margin-top: 26px;
    padding-top: 6px;
    padding-left: 10px;
}
.under_sostav{
    border-left: 2px solid black;
    padding: 7px 0 19px 33px;
    display: inline-block;
    height: 120px;
    line-height: 26px;
    width: 322px;
}
.under_sostav ul{
    color: #000;
    font-family: "Ubuntu";
    font-size: 15px;
    font-weight: 400;
}
.under_sostav span{
    color: #D1471B;
    font-family: "Ubuntu";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: -18px;
    float: left;
}
.us_2{
    height: 90px;
}
.menu_footer{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 20px;
    padding: 0px 0 19px 33px;
    line-height: 26px;
    min-height: 29px;
}
.menu_footer ul{
    color: #000;
    font-family: "Ubuntu";
    font-size: 15px;
    font-weight: 400;
}
.menu_footer_line{
    height: 8px;
    width: 100%;
    background: url('/img/menu_footer_line.png') repeat-x;
    margin-top: 39px;
}
.menu_footer span{
    font-family: "Ubuntu";
    font-weight: 400;
    color: #D1471B;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: -18px;
}
.menu_footer span2{
    font-family: "Ubuntu";
    font-weight: 400;
    color: #D1471B;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: -18px;
    display: block;
    margin-top: 10px;
}
#brending{
    margin-top: -19px;
}
#portfolio_title_box{
    width: 100%;
    height: 57px;
    margin-top: 80px;
    position: relative;
    margin-bottom: 50px;
}
#left_portfolio_line{
    background: black;
    width: 331px;
    height: 4px;
    margin: 25px 13px 25px 12px;
    float: left;
}
#portfolio_title{
    color: #FFF;
    font-family: "a_AlternaNr";
    font-size: 57px;
    font-weight: 400;
    text-transform: uppercase;
    background: black;
    padding: 0px 14px;
    float: left;
}
#right_portfolio_line{
    background: black;
    width: 331px;
    height: 4px;
    margin: 25px 0px 25px 15px;
    float: left;
}

#in_yan{
    background: url('/img/in_yan.png') center no-repeat;
    //width: 2108px;
    height: 644px;
    position: absolute;
    margin: 0 auto;
    left: 0; 
    right: 0;
}
.contact_box{
    width: 100%;
    height: 644px;
    position: relative;
}
#ContactForm_name, #ContactForm_phone{
    border: 1px solid black;
    width: 470px;
    height: 28px;
    padding-left: 10px; 
    color: #D1471B;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}
#ContactForm_commit{
    width: 460px;
    height: 116px;
    padding: 10px;
    color: #D1471B;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
    border: 1px solid black;
    resize: none;
    margin: 0 auto;
}
input[type="text"]::-webkit-input-placeholder {
    color: #D1471B;
} 
input[type="text"]::-moz-placeholder {
    color: #D1471B;
}
#ContactForm_commit::-webkit-input-placeholder{
    color: #D1471B;
}

#ContactForm_name:hover, #ContactForm_phone:hover{
    border: 1px solid #D1471B;
    color: black;
    outline: none;
}
#ContactForm_name:focus, #ContactForm_phone:focus{
    border: 1px solid #D1471B;
    color: black;
    outline: none;
}
#ContactForm_commit:hover, #ContactForm_commit:focus{
    border: 1px solid #D1471B;
    color: black;
    outline: none;
}
#ContactForm_name{
    display: block;
    margin-top: 84px
    
}
#ContactForm_phone{
    display: block;
    margin-top: 20px;
}
#ContactForm_commit{
    display: block;
    margin-top: 20px;
}

#top_footer_phone{
    color: #000;
    font-family: "a_AlternaNr";
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: inherit;
    margin: 0 auto;
    margin-top: 60px;
}

input[type="submit"]{
    width: 239px;
    height: 67px;
    background: url('/img/button_submit.png') 0 0;
    position: relative;
    margin: 0 auto;
    border: none;
    display: block;
    margin-top: 44px;
}
input[type="submit"]:focus{
    outline: none;
}
input[type="submit"]:hover{
    background-position: 0 -69px;
    outline: none;
}
input[type="submit"]:active{
    background-position: 0 -138px;
    height: 67px;
    outline: none;
}

#footer{
    height: 88px;
}
#copyright{
    float: left;
    color: #000;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 400;
    margin: 34px 0 0 12px;
}
#ex_img{
    display: block;
    float: right;
    margin: 27px 11px 0px 0;
}
#made_in_EXTRA_LOGIC{
    color: #000;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 400;
    float: right;
    margin: 34px 9px 0 0;
}

/*    portfolio     */
.portfolio_slider_box{
    //min-height: 960px;
}
#wrapper {
	width: 100%;
	//margin: 0 0 0 -412px;
	position: relative;
        margin-left: 4px;
	//left: 50%;
	//top: 30px;
}
#text h3 {
	font-size: 26px;
}
#text small, #text small * {
	font-size: 12px;
	color: #666;
}
#images {
	width: 100%;
	overflow: hidden;
}
#images div, #images img {
	display: block;
	float: left;
	width: 233px;
	height: 233px;
        border: 1px solid black;
         
}
#images span {
	background-color: black;
	color: #ccc;
	display: block;
	float: left;
	width: 235px;
	height: 235px;
	//padding: 40px 30px 0 30px;
}
.caroufredsel_wrapper{
    margin: 10px 1px!important;
}
.portfolio_title{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 26px 26px 0 26px;
}
.portfolio_date{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 400;
    margin: 10px 26px 24px 26px;
}
.portfolio_firm{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 400;
    margin-left: 26px;
}

.button_portfolio{
    width: 198px;
    height: 49px;
    background: url('/img/button_portfolio.png') 0 0;
    position: relative;
    margin: 0 auto;
    border: none;
    display: block;
    margin-top: 44px;
    display: block;
}

/*    portfolio     */

.ui-dialog .ui-dialog-titlebar {
    background: transparent;
    border: white;
    z-index: -1;
    position: absolute;
    right: 0;
    top: -18px;
}
div[aria-describedby="contactDialog"]{
    overflow: visible;
}
.what_title{
    width: 539px;
    height: 103px;
    background: url('/img/what_you_need.png') 0 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: -50px;
}
.what_button{
    width: 178px!important;
    height: 67px!important;
    background: url('/img/button_what.png') 0 0!important;
    position: absolute;
    //right: 104px;
    //top: 214px;
}
.what_button:hover{
    background-position: 0 -69px!important;
}
.what_button:active{
    background-position: 0 -138px!important;
}
button.ui-dialog-titlebar-close{
    border: none!important;
    background: none!important;
    width: 38px!important;
    height: 38px!important;
    top: 13px!important;
    right: -14px!important;
    outline: none;
}
.close_what{
    background: url('/img/close_what.png') center no-repeat;
    width: 38px;
    height: 38px;
    position: absolute;
    //top:-15px;
    //right: -15px;
}
span.ui-button-icon-primary.ui-icon.ui-icon-closethick{
    width: 38px;
    height: 38px;
    background: url('/img/close_what.png') center no-repeat;
    top: 8px;
    position: absolute;
    display: block;
    outline: none;
}
.bgr_go_contact {
    width: 521px;
    height: 295px;
    background: url('/img/ty.png') center no-repeat;
    box-shadow: none;
    position: relative;
}
.close_modal{
width: 38px;
    height: 38px;
    background: url('/img/close_what.png') center no-repeat;
    top: 50px;
    right: 0;
    position: absolute;
    display: block;
}
#press_me_rotate{
    width: 45px;
    height: 38px;
    position: absolute;
    top: 150px;
    right: 412px;
    z-index: 4;
}
#press_me_rotate_to{
    width: 230px;
    height: 44px;
    position: absolute;
    top: 32px;
    right: 400px;
    z-index: 4;
}
.rotated {
    -moz-transition: all 5s  ease;/* WebKit */
    -webkit-transition: all 5s  ease;/* Opera */
    -o-transition: all 5s  ease;/* Standard */
    transition: all 5s ease;
    -webkit-transform: rotate(720deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(720deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(720deg);  /* IE 9 */
    -o-transform: rotate(720deg);  /* Opera 10.50-12.00 */
    transform: rotate(1080deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
#shape_1{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}
#shape_2{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
}
#shape_3{
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}
#shape_4{
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
}
#shape_5{
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 1s;
}
#amazing_text{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
}
.detail_project a{
    display: block;
    background: url("/images/view_project.png") 0 0;
    width: 198px;
    height: 49px;
    margin-left: 18px;
    bottom: 10px;
    position: absolute;
}
.detail_project a:hover{
    background-position: 0 -50px;
}
.detail_project a:active{
    background-position: 0 -100px;
}

.view_project{
    width: 235px;
    height: 235px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    float: left;
    margin-bottom: 60px;
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 2px;
}
.view_project:hover{
    border: 1px solid #D1471B;
}
.view_project img{
    width: 235px;
    height: 235px;
}

#more_project{
    background: url("/images/more_project.png") 0 0 no-repeat;
    display: block;
    width: 300px;
    height: 43px;
    margin-left: 360px;
    margin-bottom: 30px;
    color: #F49C1F;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 16px;
}

#more_project:hover{
    color: #fff;
    background-position: 0 -60px;
}
#more_project:active{
    color: #fff;
    background-position: 0 -120px;
}

.detail_project{
    position: absolute;
    top: 244px;
    left: 0;
    width: 235px;
    height: 235px;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    text-align: center;
}

#our_project{
    margin-top: 58px;
    //overflow: hidden;
    height: 0;
}

.name_icon{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 26px 0 26px 26px;
    display: block;
    text-align: left;
}
.date_icon{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 400;
    //text-transform: uppercase;
    display: block;
    margin: 10px 0 0 26px;
    text-align: left;
}
.sub_name_icon{
    color: #FFF;
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 400;
    //text-transform: uppercase;
    display: block;
    margin: 10px 0 0 26px;
    text-align: left;
}

.modal_view_project{
    width: 703px;
    display: none;
    padding: 30px 14px 14px 14px;
    border: 1px solid #a2abb6;
    background: #f1f3f6;
}
.modal_name_project{
    padding: 12px 12px 12px 14px;
    background: #fff;
    margin-left: -14px;
    font-family: "Ubuntu";
    width: 676px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #49596C;
    font-size: 26px;
    text-transform: uppercase;
}
.modal_name_project a{
    color: #F49C1F;
    font-size: 16px;
    text-decoration: none;
}
.modal_view_project div:nth-child(2){
    margin: 15px 0 20px 0;
    color: #49596C;
    font-size: 15px;
    line-height: 21px;
    font-family: "Ubuntu";
}
.modal_view_project div:nth-child(3) img{
    border: 1px solid #a2abb6;
    width: 702px;
}
#lptrack_banner_pr_line_wrapper{
    display: none!important;
}

#city2{
    position: relative;
    display: block;

}
.city_selector{
    position: relative;
}
#top_slect_arrow{
    background: url("/img/select.jpg");
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 4px;
    z-index: 1;
}
#bot_slect_arrow{
    background: url("/img/select.jpg");
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 4px;
    z-index: 1;
}
.city_selector{
    margin-top: 5px;
}
.top_city_box{
    width: 199px;
    height: 24px;
    position: relative;
    margin-top: 45px;
}
#top_footer_phone .city_selector{
       text-transform: none;
 }
