.fancybox-close{
    background: url("/images/exit_modal.png") 0 0 no-repeat!important;
    width: 26px!important;
    height: 26px!important;
    top: -13px!important;
    right: -13px!important;
}
.fancybox-close:hover{
    background-position: 0 -27px!important;
}
.new-prev,
.new-next{
    background: url("/images/slider_prev_next.png") 0 0 no-repeat!important;
    width: 53px!important;
    height: 53px!important;
    display: block;
    position: fixed!important;
    top: 50%!important;
    cursor: pointer;
}
.new-next{
    background-position: 0 -54px!important;
}
.new-prev:hover{
    background-position: -54px 0!important;
}
.new-prev:active{
    background-position: -108px 0!important;
}
.new-next:hover{
    background-position: -54px -54px!important;
}
.new-next:active{
    background-position: -108px -54px!important;
}

.fancybox-prev span,
.fancybox-next span{
    background: none!important;
}
.exit_fancy{
    background: url("/images/exit_fancy.png") 0 0 no-repeat;
    width: 53px;
    height: 53px;
    position: fixed;
    bottom: 0;
    cursor: pointer;
}
.exit_fancy:hover{
    background-position: -54px 0;
}
.fancybox-inner{
    overflow: visible!important;
}
.top_fancy{
    background: url("/images/top_fancy.png") 0 0 no-repeat;
    width: 53px;
    height: 53px;
    position: fixed;
    bottom: 0;
    cursor: pointer;
}
.top_fancy:hover{
    background-position: -54px 0;
}